.cardsection{
  position: relative;
  width: 360px;
  height: 550px;
  padding: 2rem;
  border-radius: 20px 0 0 20px;
  background-color: var(--color-sub2);
  color: #fff;
  .card-btn{
    margin: 5rem 0 0 2rem;
    font-family: 'NanumSquareNeoLight';
    font-weight: bolder;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #fff;
    color: var(--color-sub2);
  }
  .card-title{
    width: 80%;
    font-family: 'yg-jalnan';
    margin: 2rem;
    font-size: 3.5rem;
  }
  .card-des{
    width: 80%;
    font-family: 'NanumSquareNeoLight';
    margin: 2rem 2rem;
    font-size: 2rem;
  }
  .card-icon{
    position: absolute;
    left: 3rem;
    bottom: 2rem;
    font-size: 12rem;
  }
}