.card{
  height: 550px;
  position: relative;
  font-family: 'NanumSquareNeoLight';
  color: var(--color-font);
  &:last-child{
    overflow: hidden;
    border-radius: 0 20px 20px 0;
  }
  .card-img{
    width: 360px;
    height: 360px;
  }
  .card-name{
    padding: 2rem 0 1rem 3rem;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .card-des{
    width: 60%;
    padding: 0 0 0 3rem;
    font-size: 1.5rem;
  }
  .card-price{
    padding: 3rem 0 0 3rem;
    font-size: 2rem;
  }
  .card-cart{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--color-sub2);
    color: var(--color-main2);
    font-size: 3rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
}