.categori{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin: 2rem auto;
  h1{
    font-family: 'yg-jalnan';
    font-size: 3rem;
  }
  p{
    font-family: 'NanumSquareNeoBold';
    font-size: 1.5rem
  }
}