.instareview{
  margin: 3rem 0;
  text-align: center;
  
  .instareivew-msg{
  h3{font-size: 3rem;
  font-weight: bolder;}
    p{font-size: 2rem;}
}
  ul{gap: 2rem;
    color:var(--color-main2);
    text-shadow: 1px 1px 10px #222;
    width: 90%; margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    li{
      box-shadow: 1px 1px 5px #222;
      width: 500px;
      height: 500px;
      display: flex;
    justify-content: center;
    align-items: center;
      h4{
        // width: 60%;
        // height: 60%;
        // background-color: #7a79798a;
        text-shadow: 1px 10px 20px #000000,1px 1px 5px #222;
        
        text-align: center;
        padding-top: 5rem;
        margin: 2rem;
        font-weight: bolder;
        font-size: 5.5rem;
        opacity: 1;
   
    }
      p{padding: 5px;
        text-align: center;
        margin: 1rem;
      font-size: 2.5rem;}

      .coupon{
        font-size: 5rem;
        font-weight: bolder;
        margin: 1rem;
      }

      button{
        margin:  1rem;
        margin-top: 4rem;
        font-size: 2.5rem;
        padding: 1rem 3rem;
      background-color: var(--color-sub1);
      border-radius: 30px;
      border: none;
      font-weight: bolder;
      color: #FFF9F4;
      text-shadow: 1px 1px 10px #222;

      &:hover{filter: brightness(70%);}
      }
        .review-p{
          opacity: 0;}

        .re-btn{opacity: 0;}
      }
    }
  }
.insta-bg{background-image: url(../components/image/REVIEW1.png) ;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 30px;
          position: relative;


          .sub-back1{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
                border-radius: 30px;
                width: 100%;
                height: 100%;
                background-color: #7a79798a;
                opacity: 0;
                z-index: 1;
            }
            &:hover{ 
               h4{opacity: 0;}
                .sub-back1{opacity: 1;}
                background-color: rgba(51, 51, 51, 0.7);
                .review-p{opacity: 1;}
                .re-btn{opacity: 1;}
                
            }
      
        }
.first-bg{background-image: url(../components/image/coupon1-1.png);
          background-position: center;
        background-repeat: no-repeat;
      border-radius: 30px;
      position: relative;

    .sub-back2{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
                border-radius: 30px;
                width: 100%;
                height: 100%;
                background-color: #7a79798a;
                opacity: 0;
                z-index: 1;
            }
            &:hover{ 
               h4{opacity: 0;}
                .sub-back2{opacity: 1;}
                background-color: rgba(51, 51, 51, 0.7);
                .review-p{opacity: 1;}
                .re-btn{opacity: 1;}
                
            }
    }

        