#sale {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  .sale-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin: 9rem 0;
    .sale-txt {
      text-align: center;
      color: var(--color-font);
      p {
        font-size: 2rem;
        color: var(--color-sub1);
      }
      h2 {
        font-family: 'NanumSquareNeoExtraBold';
        font-size: 3.5rem;
        margin: 2rem 0;
      }
      h1 {
        font-size: 3.5rem;
        font-family: 'NanumSquareNeoLight';
        span {
          width: 210px;
          display: inline-block;
          font-family: 'NanumSquareNeoHeavy';
          font-size: 4.5rem;
          color: var(--color-sub1);
        }
      }
    }
    button {
      width: 250px;
      height: 60px;
      background-color: var(--color-sub1);
      color: #fff;
      border-radius: 50px;
      border: none;
      font-size: 2rem;
    }
  }
}